body {
    background-color: black;
}
.piece1 {
    width: 502px;
    height: 499px;
}
.piece2{
width: 502px;
    height: 499px;
}
.piece3{
width: 502px;
    height: 499px;
}
.piece4 {
width: 502px;
    height: 499px;
}
.piece5 {
width: 502px;
    height: 499px;
}
.piece6 {
width: 502px;
    height: 499px;
}
.piece7 {
width: 502px;
    height: 499px;
}
.piece8 {
width: 502px;
    height: 499px;
}
.piece9 {
width: 502px;
    height: 499px;
}